<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<h2>User info</h2>
<br>

<form th:method="POST" th:action="@{/saveUser}" th:object="${user}">

    <input type="hidden" th:field="*{id}"/>
    <p>First name: <input type="text" th:field="*{firstName}"/></p>
    <p>Last name: <input type="text" th:field="*{lastName}"/></p>
    <p>Age: <input type="text" th:field="*{age}"/></p>
    <p><input type="submit" value="ОК"/>
</form>
</body>
</html>